/*Feuille de Styles Made by LG*/

/*General*/
html, body
		{
			margin:0;
			padding:0;
			height:100%;
			width:100%;
			background: url('images/background.png')center 0 repeat fixed;

		}

a
		{
			color:#615582;
			cursor:pointer;

}

a:hover
{
			color:white;
			cursor:pointer;

}

div
{
			text-align: center;
			margin: 8x;

}



/*Header*/

header
{
	  position: fixed;
	  height: 64px;
	  width: 100%;
	  z-index: 10;
	  padding-right:5px;
	  display:block;

}

header a
  {
	    color:#615582;
	    font-size:26px;
	    padding:2px;
  
  }

  .image-bague
 {
	    
	    padding-top:40px;
  
  }

.header_social {
	     position:absolute;
	     right:16px;
	     margin:5px 0 0 0;
	     font-size:16px
	}
	
		.header_social a {
			height:30px;
			width:24px;
			display:inline-block;
			text-align:center;
			line-height:48px;
			color:#615582;
			margin: 8px;
		}

		.header_social a over{
			
			color:white;
		}
			.header_social a:after {
				display:inline-block;
				content:"";
				position: absolute;
				width:2px;
				height:30px;
				transform:rotate(17deg);
				margin:6px 0 0 14px;
				background:white;
			}
				.header_social a:last-child:after{
					display:none
				}
			.header_social i {
				vertical-align:middle
			}


/*Menu*/

	
	.btn {
		font:500 14px Roboto Condensed;
		padding:8px;
		border-radius:0;
		margin:20px 4px;
		overflow:hidden;
		position:relative;
		background:none;
		min-width:88px;
		min-height:36px;
		transition:0.5s all;
}
	.btn:active, .btn:focus {
		box-shadow:0 0 10px rgba(0,0,0,0.8);
		color:#fff!important
	}
.main_menu_btn {
		cursor: pointer;
		display: block;
		height: 48px;
		position: absolute;
		transform: translateZ(0px);
		width: 48px;
		z-index: 103;
		padding:10px;
		margin:7px 0 0 16px
		
	}
	.main_menu_block {
		width:100%;
		height:100%;
		position:fixed;
		z-index:11;
		top:0;
		display: none
		
	}
		.menu_wrapper {
			transition:all 0.5s ease-out;
			left: -20%;
			height: 100%;
			position: relative;
		}
		.menu_wrapper.active {
			left: 0
		}
		.sub_menu, .sub_menu .menu-main-menu-container {
			background:#fff;
			width:300px;
			height:100%;
			position: absolute;
			transition:width 1s;
			display: -webkit-flex; 
			display: flex;
		}
			.sub_menu ul {
				position: relative;
				z-index:3;
				list-style:none;
				padding:0;
				margin:auto;
				list-style: decimal;
				list-style-type: none; 
    				counter-reset:  item; 
			}
				.sub_menu li {
					padding: 6px 0
				}
				.sub_menu li:before {
					content: '0' counter(item); 
  					counter-increment: item;
  					font:30px Great Vibes;
					display:inline-block;
					margin:0 20px 0 0
				}
				.sub_menu a {
					color:#666;
					font: 400 18px/28px Roboto Condensed;
					display:inline-block;
					padding:6px 0
				}

					.sub_menu a:before {
						width:1px;
						height:30px;
						background:#4f4f4f;
						display:inline-block;
						transform:skew(-17deg, 0deg);
						position:absolute;
						margin:2px 0 0 -10px;
						content:""
					}
			.sub_img {
				background-size:cover;
				width:100%;
				height:100%;
				left:300px;
				position:absolute;
				transition:width 1s;
			}
				.sub_img.active {
				}
			.sub_img:before {
				background:#fff;
				content:"";
				display:block;
				position:absolute;
				height:100%;
				transform:skew(-17deg, 0deg);
				width:100%;
				transform-origin:100% 100% 0;
				left:-100%;
				z-index:1;
				
		
			}
			.sub_img:after {
				content:"";
				display:block;
				position:absolute;
				height:100%;
				transform:skew(-17deg, 0deg);
				width:100%;
				transform-origin:100% 100% 0;
				left:-100%;
				z-index:2;
				border-right:1px solid rgba(255, 255, 255, 0.7);	
				margin:0 0 0 2px		
			}
		.main_menu_btn .line {
			background:#bdbdbd;
			border-radius: 1px;
			display: block;
			height: 2px;
			position: absolute;
			transform: translate(0, 0px);
			width: 26px;
			transition: transform 0.3s;
		}
			.line1 {
				top:14px
			}
			.line2 {
				top:23px
			}
			.line3 {
				top:32px
			}
				.main_menu_btn:hover .line1 {
					transform: translate(0, -2px);
				}
				.main_menu_btn:hover .line3 {
					transform: translate(0, 2px);
				}
				.main_menu_btn_open .line1, .main_menu_btn_open:hover .line1 {
					transform: translate(0, 9px) rotate(45deg);
				}
				.main_menu_btn_open .line2 {
					opacity: 0;
				}
				.main_menu_btn_open .line3, .main_menu_btn_open:hover .line3 {
					transform: translate(0, -9px) rotate(-45deg);
				}
				


/*Présentation*/

mark {
			font-family: 'Great Vibes', cursive;
			font-size:30px;
			background: none;

			}

#separateur {
			border-top: 2px dashed grey;
			margin-top:50px;
			margin-right: 100px;
			margin-left: 100px;

			}


#invitation
			{ 	
			
			background:url('images/amour-2.png') center no-repeat fixed;
			min-width: 100%;
			height: 600px;
			font-family: 'Roboto Condensed', sans-serif;
			box-shadow: 0 0 10px #555;
			margin-top:0px;
				 
			}
		
#titre_h1
			{color:white;
			font-family: 'Great Vibes', cursive;
			font-size:54px;
			text-align:center;
			padding-top:150px;
			margin:0;
				
			}
		
#titre_h2
			{color:white;
			font-size:40px;
			font-family: 'Roboto Condensed', sans-serif;
			text-align:center;
			
				
			}


/*Leur histoire*/
#titre_h3
			{	
			color:#615582;
			font-family: 'Great Vibes', cursive;
			font-size:36px;
			text-align:center;
			padding: 10px;
			}
.titre_h4
		{	
			color:#615582;
			font-family: 'Great Vibes', cursive;
			font-size:30px;
			text-align:center;
			padding: 10px;

		}

#coeur
		{	padding-top:20px;
			text-align:center;
			border-radius:20px;
			margin:10px;
		
		}
		  .image_coeur
		  {	border-radius: 150px;
		  	height:180px;
			box-shadow: 0px 0px 10px #343434;
			border:5px solid rgba(150, 150, 150, 0.4);
		   
		  }
		.texte
		{	font-size:16px;
			padding:10px;
			font-family: 'Roboto Condensed', sans-serif;
			text-align:justify;
		}

		.texte-center
		{	font-size:16px;
			padding:10px;
			font-family: 'Roboto Condensed', sans-serif;
			text-align:center;
			}
		
		
		
		#histoire
		{	height:auto;
			font-family: 'Roboto Condensed', sans-serif;
			background: url('images/background.png')center 0 repeat fixed;
			font-family: 'Roboto Condensed', sans-serif;
			box-shadow: 0 0 10px #555;
		
		
		}
		
		#hidden
		{	height:500px;
			z-index:-2;
		
		}

		#compte_a_rebours
		{	color:white;
			font-family: 'Great Vibes', cursive;
			font-size:36px;
			text-align:center;
			padding: 10px;
		}

/*# Témoins*/
#temoins
		{	  height:auto;
			  background:#d0c5e5 center 0 no-repeat fixed;
			  font-family: 'Roboto Condensed', sans-serif;
			  padding:10px;
			  box-shadow: 0 0 10px #555
		 
		}

		/*# Liste mariage*/
#liste-mariage
{
    margin-bottom: 30px
}


/*# Formulaire*/
#form
{
    background-color: #d0c5e5;
    height: 500px;
    padding-top: 20px;
    padding: auto;
    width: 600px;
    margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px; 

}
input
{
    border: 0 0 3px 0;
    border-width: 3px; 
    background: transparent none repeat scroll 0% 0%; 
    border-width: 0px 0px 1px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #595959;
    font-size: 20px;
    color: #615582; 
    
    font-family: 'Roboto Condensed', sans-serif;
    cursor: text;

}
.titre-formulaire
{
    font-size: 20px;
    color: #615582;
    font-family: 'Roboto Condensed', sans-serif;

}

.btn
{
    font-size: 20px;
    color: #615582;
    font-family: 'Roboto Condensed', sans-serif;
    background: transparent none repeat scroll 0% 0%; 
    border-width: 1px ;
	border-style: solid;
	border-color: black;
}

.btn:hover
{
    
    background:  #615582; 
    color:white;
}
label
{
    font-size: 16px;
    color: #716799;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;

}

input[type="radio"] {
    margin: 4px 0px 0px;
    line-height: normal;
    color:#615582;
}
.feild
{
 
    font-size: 20px;
    color: #615582;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;

}


/*# Lieu*/
		#lieu
		{	height:650px;
		  	background:url('images/eDLHCtzRR0yfFtU0BQar_sylwiabartyzel_themap.jpg') center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	padding:10px;
		 
		}

		.Lieu img {	


			margin-top: 100px;
		 
		}

/*# Se loger*/
		#dormir
		{	height:500px;
		  	background:url('images/green-bike.jpg') center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	padding:10px;
		 
		}
		#se_loger
		{	height:400px;
		  	background:rgba(255, 255, 255, 0.65) center 0 no-repeat fixed;
		  	font-family: 'Roboto Condensed', sans-serif;
		  	margin:10px;
		 
		}

		.logis img
		{	height:200px;
			width: 300px;
			margin-top: 20px;
			text-align:center;

			 	-webkit-transition: all 1s ease;
     			-moz-transition: all 1s ease;
		       	-o-transition: all 1s ease;
		      	-ms-transition: all 1s ease;
		          transition: all 1s ease;
			
			}


.logis img:hover {
  width: 310px;
  height: 210px;
}

			.txt-logis
		{	
			margin-top: 30px;
			font-size: 20px;
			font-style: #615582;
			text-align:center;

			}

/*# Footer*/
		.footer {
			background-size:cover;
			background-repeat:no-repeat;
			background-position: top;
			background-color:#d0c5e5;
		}
			.footer .container {
				height: 100%
			}
			.footer .over {
				width:100%;
				height:100%;
				z-index:0;
				display:block;
				content:"";
				position:absolute;
				top:0;
				left:0
			}
			.thanks {
				font:45px/48px Great Vibes;
				text-align:center;
				margin-top:10px;
				padding-top: 30px;
				padding-bottom: 10px;
				color:white
			}
			.footer_txt {
				opacity: 0.8;
				padding:0 24px
			}
				.footer_social {
					text-align:center;
				}
				.footer_social a {
					height:48px;
					width:48px;
					display:inline-block;
					text-align:center;
					line-height:48px;
					color:white
				}
				.footer_social a:after {
						display:inline-block;
						content:"";
						position: absolute;
						width:1px;
						height:40px;
						transform:rotate(17deg);
						margin:6px 0 0 18px;
						background:#fff
					}
						.footer_social a:last-child:after{
							display:none
						}
	
				.copyrights {
				font:20px/22px Roboto Condensed;
				padding-bottom: 20px;
				text-align:center;
				margin-top:10px;
				color:grey;
				}
					
